name: e2e-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - uses: actions/cache@v5
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: playwright-cache-${{ runner.os }}-x64-chromium-${{ hashFiles('package-lock.json') }}
      - run: npm ci
      - run: npx playwright install chromium --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: npm run e2e
